<h2>welcome to </h2><br>
<h1>Bookers !!</h1>
<h2>In Bookers,</h2>
you can share and exchange your opinions , inpressions , and emotions <br>
about various books!
<p><%= link_to 'Log in', user_session_path %></p>
<p><%= link_to 'Sign Up', new_user_registration_path %></p>


