<div class="top-message col-md-offset-3 col-md-6">
    <h4><%=  notice %></h4>
    <!-- Jqueryのテストここから -->
    <h1 class="jquery">Hello jQuery!</h1>
      <div id="container">
        <div id="theTarget">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
          <div class="image5"></div>
        </div>
      </div>
    <!-- jqueryのテストここまで -->
    <h1>welcome to <span class="glyphicon glyphicon-book"><strong>Bookers</strong>  !!</span></h1>
          <p>In  <span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>, </p>
          <p>you can share and exchange  your opinions , inpressions , and emotions</p>
          <p> about various books!</p>

    <div class="btn-wrapper">
      <div class="row">
        <%= link_to user_session_path, class:'btn btn-info col-xs-10 col-xs-offset-1 sign_in' do %>Log in<% end %>
      </div>
      <div class="row">
        <%= link_to new_user_registration_path, class:'btn btn-success col-xs-10 col-xs-offset-1 sign_up' do %>Sign Up<% end %>
      </div>
    </div>
            
  </div>